{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "settings": {
    "import/extensions": [".js"]
  },
  "globals": {
    "expect": true,
    "Vue": true
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-unresolved": [0],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": true
    }]
  }
}
